*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font-size: 10px;
}

body{
   
    background: #263038;
    margin: 200px;
    text-align: center;
   
}

.load {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}